*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: sans-serif;
}

body{
    background-color: #001;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: 900;
}

button{
    background-color: transparent;
    border-color: #fff;
    border-radius: 50%;
    padding: 5px;
    border-style: solid;
}

.back{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.fixed{
    
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #123;
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 20px #000;
}

.center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.container{
    width: 1300px;
    background-color: #123;
    height: 500px;
    margin-top: 90px;
    border-radius: 20px;
    padding: 20px;
    overflow: auto;
    scrollbar-width: none;
}

.container p{
    margin-top: 10px;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border-style: solid;
    border-color: #fff;
}

.image img{
    width: 100%;
}

.account{
    background-color: #001;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 5px;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

.account:hover{
    background-color: #ffffff55;
}

.name{
    display: grid;
}

.user{
    font-weight: bold;
}

fieldset{
    margin-top: 50px;
    padding: 10px;
}

form{
    display: flex;
}

.con{
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: grid;
}

a{
    text-decoration: none;
}